<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xuan.pet2fit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.xuan.pet2fit.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xuan.pet2fit.NewGame"
            android:label="@string/title_activity_new_game"
            android:parentActivityName="com.example.xuan.pet2fit.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuan.pet2fit.MainActivity" />
        </activity>
        <activity
            android:name="com.example.xuan.pet2fit.PetInfo"
            android:label="@string/title_activity_pet_info"
            android:parentActivityName="com.example.xuan.pet2fit.NewGame">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuan.pet2fit.NewGame" />
        </activity>
        <activity
            android:name="com.example.xuan.pet2fit.MainGame"
            android:label="@string/title_activity_main_game"></activity>
    </application>

</manifest>
